#locksmith-main {
  position: absolute;
  visibility: hidden;
  top: 0px;
  right: 100px;
  height: 15px;
  width: 50px;
  padding: 3px 5px 2px 5px;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
  border-right: 1px solid #a1a1a1;
  border-left: 1px solid #a1a1a1;
  border-bottom: 1px solid #a1a1a1;
  z-index: 99999;
  background:-webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dedede));
}
#locksmith-main a, #locksmith-main a:hover {
  color: #a1a1a1;
}
#locksmith-show {
  position: relative;
  top: -2px;
  font-size: 10px;
}
.locksmith-creds {
  visibility: hidden;
  position: absolute;
  top: 22px;
  padding: 2px 5px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  right: 100px;
  z-index: 99999;
  cursor: pointer;
  background:-webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#fafafa));
}
.locksmith-creds a {
}
